footer {
  position: relative;
  display: flex;
  justify-content: center;

  .footer-background {
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 420px;
    z-index: -2;
  }


  .left-side {
    padding-bottom: 157px;

    .left-side-top {
      background: #fff;
      position: relative;
      h2 {
        font-size: 100px;
        color: rgba(0, 0, 0, 0.031);
        font-weight: bold;
        position: absolute;
        margin-left: -5px;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        width: 101%;
        overflow: hidden;
      }

      .grid-two-by-two {
        display: grid;
        grid-template-areas:
        'top-left top-right'
        'bot-left bot-right';

        .grid-content {
          img {
            width: 100%;
            height: 100%;
          }
        }

        .grid-content:nth-child(1){
          grid-area:top-left;
          margin-bottom: -3px;
        }
        .grid-content:nth-child(2){
          grid-area: top-right;
          margin-bottom: -3px;
        }
        .grid-content:nth-child(3){
          grid-area: bot-left;
        }
        .grid-content:nth-child(4){
          grid-area: bot-right;
        }
      }

      .insta-heading {
        display: flex;
        align-items: center;
        padding: 20px;

        h4 {
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          font-size: 1.5rem;
          color: $mainColor;
          margin: 0 18px 0 19px;
        }

        span {
          font-weight: 500;
          font-family: "Raleway";
        }
      }
    }

    .left-side-bot {
      margin-top: 27px;

      .content {

        span {
          font-size: 0.75rem;
          color: rgb(77, 77, 77);
          font-family: "Raleway";
          font-weight: bold;
        }

        span:nth-child(1){
          margin-right: 20px;
          position: relative;
          &::before {
            content: '';
            border-radius: 50%;
            background-color: rgb(77, 77, 77);
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -15px;
          }
        }
      }
    }
  }

  .right-side {
    margin-top: 58px;
    margin-left: 50px;

    .facebook {
      display: flex;
      flex-direction: column;
      width: 440px;
      height: 348px;
      position: relative;
      padding: 94px 0 41px 0;
      margin-bottom: 120px;

      .face-page {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: url('../../assets/img/face-page.png') no-repeat center center;
        background-size: 100% 100%;
        width: 80%;
        height: 100%;
      }

      .background-top {
        position: absolute;
        width: 100%;
        height: 50%;
        background: #385490;
        top: 0;

        .facebook-logo {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 31px;
          background: url('../../assets/img/facebook-logo.png') no-repeat center center;
          background-size: 100% 100%;
          width: 153px;
          height: 32px;
        }
      }

      .background-bot {
        position: absolute;
        width: 100%;
        height: 50%;
        background: #e5e5e5;
        bottom: 0;
      }
    }

    nav {
      display: flex;
      margin: 0 0 90px 28px;
      ul:nth-child(1){
        margin-right: 96px;
      }

      ul {
        li {
          margin-bottom: 23px;
          position: relative;
          cursor: pointer;

          a {
              text-decoration: none;
              color: #fff;
          }

          &::before {
            content: '';
            width: 19px;
            height: 6px;
            background: url('../../assets/img/waves-footer.png') no-repeat center center;
            background-size: cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -28px;
          }
        }
      }
    }

    .news {
      position: relative;
      width: 300px;
      h4 {
        color: #fff;
        margin-bottom: 23px;
      }

      form {
        position: relative;
      }

      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgb(77, 77, 77);
        font-size: 0.875rem;
        padding: 0 0 7px 26px;
        color: #fff;
        font-family: "Raleway";
        font-weight: 500;
        width: 100%;
        position: relative;
        outline: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgb(77, 77, 77);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: rgb(77, 77, 77);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: rgb(77, 77, 77);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: rgb(77, 77, 77);
        }
      }

      .mail-icon {
        position: absolute;
        top: 2px;
      }

      button {
        cursor: pointer;
        position: absolute;
        right: 0;
        width: 22px;
        height: 22px;
        background: $mainColor;
        border-radius: 50%;
        bottom: 8px;
        transition: transform .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(.96);
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px){
  .left-side {
    width: 40%!important;
  }

  .right-side {
    width: 40%!important;

    .facebook {
      max-width: 100%!important;
      height: 320px!important;
      margin-bottom: 50px!important;
    }

    nav {
      margin: 0 0 70px 28px!important;
    }
  }

  .news {
    padding-bottom: 30px!important;
  }
}

@media only screen and (max-width: 700px){
  .news {
    padding-bottom: 0px!important;
  }
  .left-side-top h2 {
    font-size: 70px!important;
    top: -55px!important;
  }

  .facebook {
    display: none!important;
  }
  footer {
    align-items: center;
    flex-direction: column;
  }

  .right-side {
    padding-bottom: 40px!important;
  }

  .left-side, .right-side {
    width: 70%!important;
  }

  nav {
    margin-bottom: 40px!important;
  }

  .left-side {
    padding-bottom: 0!important;
  }
}
