main {
  .about-us {
    .about {
      position: relative;
      h2 {
        position: absolute;
        top: -150px;
        font-size: 12.25rem;
        color: rgba(0, 0, 0, 0.031);
        font-weight: bold;
        letter-spacing: 20px;
        width: 100%;
        text-align: center;
      }
      .background-cut {
        background:linear-gradient(rgba(127,127,127,0), rgba(127,127,127,0.3)), url('../../assets/img/aboutBackground.png') no-repeat center center;
        background-size: cover;
        min-height: 702px;
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 46% 100%, 46% 46%, 0 46%, 0 1%);
      }

      .about-content {
        display: flex;
        justify-content: center;
        position: relative;
        top: -100px;
        .about-text {
          margin-right: 200px;
          width: 18%;
          position: relative;
          top: -192px;
          height: 400px;
          h4 {
            font-size: 1.125rem;
            text-align: center;
            font-weight: bold;
            position: relative;
            margin-bottom: 58px;

            &::before {
              content: '';
              width: 13px;
              height: 13px;
              position: absolute;
              top: 40px;
              left: 50%;
              transform: translateX(-50%);
              background: url('../../assets/img/x-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }
          }

          p {
            font-size: 1.375rem;
            font-family: 'Playfair Display';
            font-style: italic;
            line-height: 1.727;
            margin-bottom: 34px;
          }

          a {
            color: $mainColor;
            text-decoration: none;
            border-bottom: 2px solid $mainColor;
            padding-bottom: 1px;
            font-weight: 600;
          }
        }

        .video {
          width: 26%;
          position: relative;
          height: fit-content;
          z-index: 1;

          &:active {
            .control {
              .play-container {
                transform: translate(-50%,-50%) scale(.9);
              }
            }
          }

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 20px 34.641px 50px 0px rgba(0, 0, 0, 0.2);
          }

          .control {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            .play-container {
              border-style: solid;
              border-width: 1px;
              border-color: rgb(255, 255, 255);
              border-radius: 50%;
              width: 144px;
              height: 144px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) scale(1);
              z-index: 2;
              transition: opacity .3s ease-in-out, transform .3s ease-in-out;

              svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }
      }
    }
  }
}
