main {
  .about-us {
    .about {
      position: relative;
      h2 {
        position: absolute;
        top: -150px;
        font-size: 196px;
        color: rgba(0, 0, 0, 0.031);
        font-weight: bold;
        letter-spacing: 20px;
        width: 100%;
        text-align: center;
      }
      .background-cut {
        background:linear-gradient(rgba(127,127,127,0), rgba(127,127,127,0.3)), url('../../assets/img/aboutBackground.png') no-repeat center center;
        background-size: cover;
        min-height: 702px;
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 46% 100%, 46% 46%, 0 46%, 0 1%);
      }

      .about-content {
        display: flex;
        justify-content: center;
        position: relative;
        top: -100px;
        .about-text {
          margin-right: 200px;
          width: 18%;
          position: relative;
          top: -192px;
          height: 400px;
          h4 {
            font-size: 1.125rem;
            text-align: center;
            font-weight: bold;
            position: relative;
            margin-bottom: 58px;

            &::before {
              content: '';
              width: 13px;
              height: 13px;
              position: absolute;
              top: 40px;
              left: 50%;
              transform: translateX(-50%);
              background: url('../../assets/img/x-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }
          }

          p {
            font-size: 1.375rem;
            font-family: 'Playfair Display';
            font-style: italic;
            line-height: 1.727;
            margin-bottom: 34px;
          }

          a {
            color: $mainColor;
            text-decoration: none;
            border-bottom: 2px solid $mainColor;
            padding-bottom: 1px;
            font-weight: 600;
          }
        }

        .video {
          width: 26%;
          position: relative;
          height: fit-content;
          z-index: 1;

          &:active {
            .control {
              .play-container {
                transform: translate(-50%,-50%) scale(.9);
              }
            }
          }

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 20px 34.641px 50px 0px rgba(0, 0, 0, 0.2);
          }

          .control {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            .play-container {
              border-style: solid;
              border-width: 1px;
              border-color: rgb(255, 255, 255);
              border-radius: 50%;
              width: 144px;
              height: 144px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) scale(1);
              z-index: 2;
              transition: opacity .3s ease-in-out, transform .3s ease-in-out;

              svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }
      }
    }

    .team {
      position: relative;
      top: -70px;
      min-height: 320px;
      margin-bottom: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrows {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin-top: 140px;
        padding-bottom: 50px;
        position: absolute;
        display: flex;

        .arrow {
          position: absolute;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(230, 230, 230);
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
          width: 49px;
          height: 48px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform .3s ease-in-out;
          z-index: 10;

          &:active {
            transform: translateY(-50%) scale(.90);
          }

          div {
            width: 16px;
            height: 14px;
            background: url('../../assets/img/team-arrow.png') no-repeat center center;
            background-size: cover;
            transition: transform .3s ease-in-out;
          }

          .arrow-left {
            transform: rotate(180deg);
          }
        }

        .arrow:nth-child(1){
          left: 10%;
        }
        .arrow:nth-child(2){
          right: 10%;
        }
      }
      .absolute {
        width: 100%;
        height: 100%;
        position: absolute;
        h2 {
          position: absolute;
          top: 0px;
          font-size: 196px;
          color: rgba(0, 0, 0, 0.031);
          font-weight: bold;
          letter-spacing: 20px;
          width: 100%;
          text-align: center;
          pointer-events: none;
        }
      }

      .slider-team {
        margin-top: 140px;
        padding-bottom: 50px;
        width: 60%;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .slider {
          display: flex;
          justify-content: center;
          width: 4000px;
          position: relative;
          left: 470px;
          padding-bottom: 30px;
          transition: all .3s ease-in;
        }

        .member:nth-child(odd) {
          top: 30px;
          z-index: 2;
        }

        .member:nth-child(even) {
          z-index: 1;
        }

        .member:nth-child(5) {
          margin-left: 400px;
        }

        .member {
          position: relative;
          box-shadow: 10px 17.321px 50px 0px rgba(0, 0, 0, 0.2);
          background: #fff;
          width: 260px;
          height: 278px;
          border-radius: 4px;
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-right: -10px;
          margin-left: -10px;
          transition: all .3s ease-in;
          cursor: pointer;

          &:hover {
            background-color: $mainColor;

            h4 {
              color: #fff;
            }

            span:nth-child(2){
              &::before {
                background-image: url('../../assets/img/waves-active.png');
              }
            }

            span {
              color: rgb(179, 231, 255);
            }
          }

          .top-member img {
            margin-bottom: 16px;
          }

          h4 {
            font-size: 1.125rem;
            color: $mainColor;
            font-weight: bold;
            margin-bottom: 3px;
            transition: all .3s ease-in;
          }

          span:nth-child(2){
            margin-bottom: 36px;
            position: relative;

            &::before {
              content: '';
              width: 31px;
              height: 6px;
              background: url('../../assets/img/waves.png') no-repeat center center;
              background-size: cover;
              position: absolute;
              top: 30px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          span{
            transition: all .3s ease-in;
            display: block;
            font-family: "Raleway";
            color: rgb(140, 140, 140);
            font-size: 0.875rem;
          }
        }


      }
    }
  }

  .updates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 37px;
    margin-bottom: 120px;

    h4 {
      text-align: center;
      font-size: 1.125rem;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 73px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 13px;
        height: 13px;
        background: url('../../assets/img/x-icon.png') no-repeat center center;
        background-size: 100% 100%;
      }
    }

    .updates-container {
      display: flex;
      justify-content: center;
      align-items: baseline;
        .update {
          width: 14%;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          transition: box-shadow .3s ease-in-out;
          cursor: pointer;
        img {
          width: 100%;
        }

        p {
          padding: 27px 25px 26px;
          font-family: "Raleway";
          color: rgb(120, 120, 120);
          line-height: 1.5;
          transition: color .3s ease-in-out;
        }

        &:hover {
          box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);

          p {
            color: rgb(0, 34, 255);
          }
        }
      }

      .update:nth-child(1), .update:nth-child(2) {
        margin-right: 30px;
      }

    }

    button {
      margin-top: 40px;
      margin-right: auto;
      margin-left: auto;
      width: 197px;
      height: 44px;
    }
  }
}

@media only screen and (max-width: 1900px){
  .slider-team {
    width: 80%!important;
  }
}
@media only screen and (max-width: 1700px){
  .about-content {
    justify-content: space-around!important;
  }
  .video {
    width: 36%!important;
  }

  .about-text {
    width: 22%!important;
    margin-right: 0!important;
  }
}

@media only screen and (max-width: 1400px){
  .video {
    width: 44%!important;
    top: -10px!important;
  }

  .about-text {
    width: 40%!important;
    top: -172px!important;
  }

  .slider-team {
    width: 100%!important;
  }

  .right-arrow-block {
    right: 5%!important;
  }
  .left-arrow-block {
    left: 5%!important;
  }

  .member {
    width: 200px!important;
    height: 248px!important;
  }

  .top-member {
    width: 40%!important;
    figure {

      img {
        max-width: 100%;
      }
    }
  }

  main .about-us .team .slider-team .slider {
    left: 400px;
  }
}

@media only screen and (max-width: 1300px){
  .absolute h2 {
    font-size: 136px!important;
    top: 30px!important;
  }
}

@media only screen and (max-width: 1200px){
  .updates-container {
    padding: 0 10px!important;
  }
  .update {
    width: 30%!important;
  }
}

@media only screen and (max-width: 1100px){
  .left-side {
    width: 40%!important;
  }

  .right-side {
    width: 40%!important;

    .facebook {
      max-width: 100%!important;
      height: 280px!important;
    }
  }
}

@media only screen and (max-width: 1000px){
  .absolute h2 {
    font-size: 96px!important;
    top: 60px!important;
  }
}

@media only screen and (max-width: 750px){
  .absolute h2 {
    font-size: 66px!important;
    top: 80px!important;
  }
}

@media only screen and (max-width: 700px){
  .member:nth-child(5) {
    margin: 0!important;
  }

  html main .about-us .team .slider-team .slider {
    left: 500px;
  }

  main .about-us .team .slider-team .member:nth-child(2) {
    margin-right: 200px;
  }

  .about-content .about-text {
    top: -60px!important;
  }

  .team {
    top: -160px!important;
        margin-bottom: 90px!important;
  }
  .about h2 {
      top: -50px!important;
      font-size: 66px!important;
  }

  .about-content {
    flex-direction: column-reverse;

    .video {
      top: -150px!important;
      width: 90%!important;
      margin: 0 auto!important;
    }

    .about-text {
      width: 70%!important;
      top: -90px!important;
      margin: 0 auto!important;
      height: 270px!important;
    }
  }

  .left-side-top h2 {
    font-size: 70px!important;
    top: -55px!important;
  }

  .facebook {
    display: none!important;
  }
  footer {
    align-items: center;
    flex-direction: column;
  }

  .right-side {
    padding-bottom: 40px!important;
  }

  .left-side, .right-side {
    width: 70%!important;
  }

  nav {
    margin-bottom: 40px!important;
  }

  .left-side {
    padding-bottom: 0!important;
  }
}

@media only screen and (max-width: 600px){

  html main .about-us .team .slider-team .slider {
    left: 470px;
  }
}

@media only screen and (max-width: 560px){
  .update {
    p {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }

  .left-side {
    width: 90%!important;
  }

  .left-side-top h2 {
    font-size: 78.7px!important;
  }
}

@media only screen and (max-width: 450px){

  .member {
      width: 150px!important;
      height: 200px!important;
  }

  html main .about-us .team .slider-team .slider {
    left: 370px;
  }
}

@media only screen and (max-width: 410px){
  .about-content {
    top: -60px!important;
  }
  
  .right-side {
    margin-left: 0!important;
  }

  .news {
    width: 100%!important;
  }

}
